body {
    margin: 0;
    background-color: grey;
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: white;
}

input {
    width: 450px;
    height: 60px;
    margin: 100px 100px 100px 10px;
    font-size: 35px;
    font-family: "Lobster two";
    background-color: white;
    border: none;
    border-bottom: 3px solid grey;
    color: grey;
    padding-left: 10px;
}

.section {
    margin: 20px;
}

.container {
    height: 100%;
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;
}

.recipe {
    display: inline-block;
    margin: 20px 0 0 20px;
    flex-grow: 1;
    width: 18%;
    height: 250px;
    border: 1px solid black;
    background-size: 100% 100%;
}

p {
    background-color: lightgray;
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
}

#label {
    color: red;
}

a {
    color: black;
}

.heading {
    font-family: 'Lobster Two';
    font-size: 70px;
    padding: 0px;
    margin: 100px;
    color: grey;
    text-align: end;
}

input:focus {
    outline: none;
}

.fa-search {
    color: grey;
    margin: 100px 0px 100px 100px;
}